In [1]:
import boto3
client=boto3.client('s3')

In [2]:
path='s3://mys3bucket03jun2020/HistoricalQuotes.csv'

In [3]:
import pandas as pd
histQuotes=pd.read_csv(path)

In [4]:
histQuotes.head(5)

         Date  Close/Last   Volume        Open        High         Low
0    06-01-20  $1,431.82   1217140  $1,418.39   $1,437.96      $1,418
1  05/29/2020  $1,428.92   1838059  $1,416.94   $1,432.57   $1,413.35
2  05/28/2020  $1,416.73   1693976  $1,396.86   $1,440.84      $1,396
3  05/27/2020  $1,417.84   1686142  $1,417.25   $1,421.74   $1,391.29
4  05/26/2020  $1,417.02   2060643  $1,437.27      $1,441   $1,412.13